// LOADER
#loader{
    height: 105vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, #00dcff, #00cdff, #00bdff, #00acff, #0099ff);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden!important;
    flex-direction: row;
    transition: all 0.8s;
    z-index: 100;
    .loader__logo{
        width: 70px;
        opacity: 1;
        filter: drop-shadow(1.2px 2px 0px rgba(255, 255, 255, 0.801));
    }
}