// LOADER
#loader{
    height: 105vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, #00c8ff, #00baff, #00aaff, #0099ff, #0086ff);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden!important;
    flex-direction: row;
    transition: all 0.8s;
    z-index: 100;
    .loader__logo{
        width: 50px;
        opacity: 1;
        filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.801));
    }
}