.no-reports-logo {
    img {
        width: 10vw;
        position: absolute;
        right: 2%;
        top: 2%;
    }
}
.lucas {
    position: absolute;
    right: 2.5vw;
    top: 95vh;
    color: #007dd7;
    font-size: 1rem;
}
.no-reports-cliente {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50vh;
    svg {
        transform: translate(-10px, 0);
    }
    p {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right bottom, #00dcff, #00cdff, #00bdff, #00acff, #0099ff);
    z-index: -5;
}
.no-reports-title {
    border-left-style: solid;
    border-color: rgb(255, 255, 255);
    border-left-width: 6px;
    position: absolute;
    left: 16vw;
    top: 2%;
    h4 {
        color: white;
        font-size: 2rem;
        font-weight: 600;
        margin: 20px 0 20px 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}