#refresh{
    height: 105vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, #00c8ff, #00baff, #00aaff, #0099ff, #0086ff);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden!important;
    flex-direction: row;
    filter: brightness(1.1);
    transition: all 0.8s;
    button{
        background-color: white;
        padding: 0.7% 3%;
        font-size: 1.2rem;
        font-weight: bold;
        color: #00baff;
        border: 1px solid white;
        cursor: pointer;
    }
}